<launch>
    <!-- Defining the parameters for mapping the keys with the actions -->
    <param name="key_u" value="forward"/>
    <param name="key_j" value="backward"/>
    <param name="key_k" value="rotate_right"/>
    <param name="key_h" value="rotate_left"/>
    <param name="key_f" value="increase_linear_speed"/>
    <param name="key_s" value="decrease_linear_speed"/>
    <param name="key_r" value="increase_angular_speed"/>
    <param name="key_z" value="decrease_angular_speed"/>

    <!-- Launching the node for the teleoperation -->
    <node name="teleoperation_node" pkg="tp2_ros_package" type="teleoperation_node_v2.py" output="screen">
        <!-- Speed parameters -->
        <param name="linear_speed" value="0.5"/>
        <param name="angular_speed" value="1"/>
    </node>
</launch>

